fastapi
uvicorn
pandas
geopandas
shapely
pyproj
rasterio
scikit-learn
statsmodels
python-multipart
streamlit
streamlit-folium
numpy
fiona
folium
branca
scipy
matplotlib
seaborn
plotly
earthengine-api


